---
const { titulo = 'Steel RV - Fundición de Metales' } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{titulo}</title>
    <meta name="description" content="Steel RV - Más de 35 años fundiendo el mejor metal del Perú. Soluciones ágiles e innovadoras para satisfacer tus necesidades." />
  </head>
  <body>
    <slot />
    <script type="module" src="/src/scripts/aos-init.js"></script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* background-color: #0F4E67; */
    font-family: 'Roboto Condensed', sans-serif;
  }

  * {
    box-sizing: border-box;
  }
</style>